<form class="w-[75%] mx-auto my-8" [formGroup]="addressForm" (ngSubmit)="SubmitAddress()">
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-green-900 ">Details: </label>
        
        <div class="relative z-20">
            <textarea (keyup)="validateInput('details')" formControlName="details" class="bg-gray-50 border border-gray-300 text-sm rounded-lg  block w-full p-2.5 dark:placeholder-gray-400"
            [class]="{
                'focus:ring-green-500': !addressForm.get('details')?.errors,
                'focus:border-green-500': !addressForm.get('details')?.errors,
                'focus:ring-red-600': addressForm.get('details')?.errors,
                'focus:border-red-600': addressForm.get('details')?.errors
                }" required ></textarea>
        </div>
        <!-- Vaildate details:  -->
        <div #validateDetails class="flex items-center relative z-0 h-0 opacity-0 text-red-700 bg-gradient-to-b from-transparent to-red-300 ps-5 rounded-b-lg transition-all duration-[1.2s]">
            <div class="flex items-center">
                <div class="w-[15px] h-[15px] rounded-full border-2 border-red-700  me-2 flex justify-center items-center text-xs">!</div>
                Please fill this field
            </div>
        </div>
        
    </div>
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-green-900 ">Phone: </label>
        
        <div class="relative z-20">
            <input (keyup)="validateInput('phone')" type="tel" formControlName="phone" class="bg-gray-50 border border-gray-300 text-sm rounded-lg  block w-full p-2.5 dark:placeholder-gray-400"
            [class]="{
                'focus:ring-green-500': !addressForm.get('phone')?.errors,
                'focus:border-green-500': !addressForm.get('phone')?.errors,
                'focus:ring-red-600': addressForm.get('phone')?.errors,
                'focus:border-red-600': addressForm.get('phone')?.errors
                }" placeholder="01122222222" required />
        </div>
        <!-- Vaildate phone:  -->
        <div #validatePhone class="flex items-center relative z-0 h-0 opacity-0 text-red-700 bg-gradient-to-b from-transparent to-red-300 ps-5 rounded-b-lg transition-all duration-[1.2s]">
            <div class="flex items-center">
                <div class="w-[15px] h-[15px] rounded-full border-2 border-red-700  me-2 flex justify-center items-center text-xs">!</div>
                Please enter a valid phone
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-green-900 ">City: </label>
        <div class="relative z-20">
            <input (keyup)="validateInput('city')" type="text" formControlName="city" class="bg-gray-50 border border-gray-300 text-sm rounded-lg  block w-full p-2.5 dark:placeholder-gray-400"
            [class]="{
                'focus:ring-green-500': !addressForm.get('city')?.errors,
                'focus:border-green-500': !addressForm.get('city')?.errors,
                'focus:ring-red-600': addressForm.get('city')?.errors,
                'focus:border-red-600': addressForm.get('city')?.errors
                }"
            placeholder="Cairo" required />
        </div>
        <!-- Vaildate name:  -->
        <div #validateCity class="flex items-center relative z-0 h-0 opacity-0 text-red-700 bg-gradient-to-b from-transparent to-red-300 ps-5 rounded-b-lg transition-all duration-[1.2s]">
            <div class="flex items-center">
                <div class="w-[15px] h-[15px] rounded-full border-2 border-red-700  me-2 flex justify-center items-center text-xs">!</div>
                Please enter the city
            </div>
        </div>
    </div>
    

    <button [disabled]="(addressForm.invalid)" type="submit" class="disabled:cursor-not-allowed p-4 bg-green-600 hover:bg-green-500 rounded-full text-white disabled:bg-gray-500 disabled:hover:bg-gray-500">Submit address
        @if (isLoading) {
            <i class="fa-solid fa-spinner fa-spin"></i>
        }
    </button>
</form>