<div class="p-4">
    <div (click)="toggleModal()" class="group flex bg-gray-100 hover:bg-gray-200 hover:cursor-pointer p-4 rounded-lg">
        <div class="w-[95%]">
            <h1><span class="text-lg text-slate-800">Order Id #</span><span class="text-lg text-green-700">{{order._id}}</span></h1>
            <h2><span class="text-lg text-slate-800">Ordered date:</span> <span class="text-lg text-green-700">{{order.createdAt | date}}</span></h2>
            <p><span class="text-lg text-slate-800">Status:</span> <span class="text-lg text-green-700">{{(order.isPaid) ?'Fullfiled':'unfullfiled'}}</span></p>
            <p><span class="text-lg text-slate-800">payment method:</span> <span class="text-lg text-green-700">{{order.paymentMethodType}}</span></p>
            <p><span class="text-lg text-slate-800">price:</span> <span class="text-lg text-green-700">{{order.totalOrderPrice}}</span> EGP</p>
        </div>
        <div class="w-[5%]">
                <i class="group-hover:translate-x-2 transition-transform fa-solid fa-chevron-right text-green-600"></i>
            
        </div>
    </div>
</div>

@if (toggle) {
    <div (click)="closeModal($event)" id="parent" class="flex justify-center items-center blur-background bg-slate-50 fixed top-0 right-0 left-0 bottom-0">
        <div id="child" class="w-3/4 h-[75vh] bg-white rounded-lg overflow-y-scroll">
            @for (item of order.cartItems; track $index) {
                <div class="p-3">
                    <div [routerLink]="['/productDetails' , item.product.id]" class="rounded-lg border border-gray-100 bg-gray-50 hover:bg-gray-100 shadow-sm w-full flex flex-col md:flex-row cursor-pointer"> 
                        <div class="w-3/4 mx-auto md:mx-0 md:w-1/4 h-full p-5">
                            <img [src]="item.product.imageCover" alt="product image">
                        </div>
                        <div class="w-full mx-auto md:mx-0 md:w-3/4 py-5">
                            <h1 class="text-green-600 text-xl">{{item.product.title}}</h1>
                            <p>count: {{item.count}}</p>
                            <p>one piece price: {{item.price}} EGP</p>
                            <p>Total price: {{item.count * item.price}} EGP</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}